<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/DarkTheme.css">
</head>
<header th:insert="blocks/Header" :: Header/>

<body class="DarkThemeBody">

<main>
    <div style="height: 40vh">
        <center>
            <h1 style="margin-top: 10vh">
                Главная страница индивидуального проекта!!!
            </h1>
        </center>
    </div>
</main>

</body>

<footer th:insert="blocks/Footer" :: Footer/>
</html>