<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/DarkTheme.css">
</head>
<header th:insert="blocks/Header" :: Header/>

<body class="DarkThemeBody">

<main>

    <center>

        <div class="shadow-5-strong p-5 mb-5 bg-dark rounded" style="width:750px; padding:10px;margin-top:50px">

            <h1 style="margin-top:25px; color:white; font-size:60px">Авторизация</h1>

            <div class="form-group" style="margin-top:25px">
                <h5 th:if="${param.error}" style="color:red">
                    Неверное имя пользователя или пароль
                </h5>
                <h5 th:if="${param.logout}" style="color:red">
                    Вы разлогинились
                </h5>
                <form th:action="@{/login}" method="post" style="margin-top:100px">
                    <div style="margin-top:25px"><h5 style="color:white">Имя пользователя:</h5> <input type="text" class="form-control" style="width:500px; font-size:26px" name="username"/> </div>

                    <div style="margin-top:25px"><h5 style="color:white">Пароль: </h5><input type="password" class="form-control" style="width:500px; font-size:26px" name="password"/></div>

                    <div style="margin-top:50px"><input type="submit" class="btn btn-success" style="width:500px; font-size:32px" value="Войти"/></div>
                </form>
                <div style="margin-top:50px">
                    <a href="/registration" style="color:blue">Регистрация нового пользователя</a>
                </div>

            </div>

        </div>

    </center>

</main>

</body>

<footer th:insert="blocks/Footer" :: Footer/>
</html>